.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  width: 30%;
  min-width: 362px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
