.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2vw;
  align-items: stretch;
  margin: 0 auto;
  justify-items: center;
  align-content: center;
}
