@import "../../sass/abstract/constants";

.card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  will-change: transform;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.card:hover {
  transform: scale(1.01);
  transition: transform 0.4s ease;
  box-shadow: 0px 4px 6px $card-shadow-color;
  background-color: $card-bg-color;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 auto;
}

.originalPrice {
  color: $price-color;
}

.originalPriceStriked {
  color: $stricked-price-color;
  text-decoration: line-through;
}

.discountedPrice {
  color: $discounted-price-color;
  font-size: 1.2em;
}

.discountBadge {
  position: absolute;
  top: 10px;
  left: 10px;
}

.iconBadge {
  font-size: 1.5em;
  color: $discounted-price-color;
  background-color: $badge-bg-color;
  border-radius: 50%;
  padding: 4px;
  margin-right: 4px;
}

.discountPercent {
  font-size: 1em;
  font-weight: bold;
  color: $discounted-price-color;
}

.badgeIcon {
  display: flex;
  align-items: center;
  background-color: $badge-icon-bg-color;
  padding: 5px;
  border-radius: 10px;
}

.link,
.cardAction,
.button {
  width: 100%;
}
