@import "../../sass/abstract/constants";
.header {
  margin: 30px 30px 30px 20px;
  white-space: nowrap;
}
.link {
  text-decoration: none;
  margin-left: 20px;
  color: $color-primary-dark;
  &:hover {
    text-decoration: underline;
  }
}
.logo {
  width: 70px;
  height: 70px;
  margin-left: 35px;
}

.burgerIcon {
  cursor: pointer;
}
