$color-text: #491919;
$color-primary: #1769aa;
$card-bg-color: #f0f0f0;
$price-color: black;
$stricked-price-color: #888;
$discounted-price-color: #e74c3c;
$badge-icon-bg-color: #d2cac9;
$badge-bg-color: white;
$card-shadow-color: rgba(0, 0, 0, 0.1);
