$color-text: #491919;
$color-primary: #435b66;
$color-secondary: #ff725e;
$color-info: #ffbe9d;
$color-primary-dark: #15528e;
$color-default-address: #994438;
$card-bg-color: #f0f0f0;
$price-color: black;
$stricked-price-color: #888;
$discounted-price-color: #e74c3c;
$badge-icon-bg-color: #d2cac9;
$badge-bg-color: white;
$card-shadow-color: rgba(0, 0, 0, 0.1);
$promocode-total-color: #12d24c;
$main-page-text: #242d3b;
$html-bgc: rgba(239, 228, 224, 0.25);
