@import "../../sass/abstract/constants";

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 75%;
  margin: auto;
  position: relative;
}
.image {
  width: 94%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.arrowLeft,
.arrowRight {
  cursor: pointer;
  background-color: $card-bg-color;
  &:hover {
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 5);
  }
}
.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article {
  margin: 30px;
}
.product {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-top: 50px;
  flex-direction: row-reverse;
}
.title {
  margin-top: 26px;
  max-width: 700px;
  overflow: hidden;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.imageList {
  width: 60%;
  height: 550px;
  transform: translateZ(0);
}
.price {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: end;
}
.estimation {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.cross {
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s;
}
.close {
  background-color: $card-bg-color;
  border-radius: 50%;
  &:hover {
    box-shadow: 0 0 15px 0 rgba(255, 255, 255, 5);
  }
}
.noSale {
  color: $stricked-price-color;
}
