.price {
  margin-top: 40px;
}
.product {
  display: flex;
  gap: 60px;
}
.description {
  margin-top: 26px;
  max-width: 600px;
  overflow: hidden;
}
.spinner {
  display: flex;
  justify-content: center;
}
.article {
  margin: 60px;
}
